<a href="https://colab.research.google.com/github/shaharpery/Data/blob/main/gradesInExcel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [61]:
path_2 = "https://github.com/shaharpery/Data/raw/main/06191-Annual2022(16299).xlsx?raw=true"
path_1 = "https://github.com/shaharpery/Data/blob/main/6191%20Department%20Seminar%20-%20final%20grades.xlsx?raw=true"
file1 = pd.read_excel(path_1)
file2 = pd.read_excel(path_2)
file2.rename(columns=file2.iloc[0])

           ID  CHUG  FIRSTNAME    LASTNAME  FINAL
0          ID  CHUG  FIRSTNAME    LASTNAME  FINAL
1   023913346   144       טליה      אוחיון    NaN
2   027706480   144       ענבל       מנשרי    NaN
3   040734428   144       גיטי        שפיץ    NaN
4   052854924   144         בן       גרשון    NaN
5   200699262   144      יסמין       זכאים    NaN
6   203444716   144        עדי     גלבוצקי    NaN
7   204325492   144       יערה       לויפר    NaN
8   205360159   144        שחר        חיים    NaN
9   205698814    77       יואל      גורדון    NaN
10  205893134   144       רוני       שטיין    NaN
11  207865387   144        נעה         מגן    NaN
12  208244020   144       רועי       בלסון    NaN
13  208346965   144       אוהד        לבנת    NaN
14  208738633    77      אריאל         לוי    NaN
15  301161097    77       יונה         פלס    NaN
16  302460845   144       מיכל        תומר    NaN
17  308526003    77      שמעון       אליאב    NaN
18  308559434   144       קובי          רז    NaN
19  311600191   144       רועי     גוטגליק    NaN
20  312126733   144       יאיר        נהרי    NaN
21  313580938   144        גון         ישי    NaN
22  316365360   144        רתם     קריספיל    NaN
23  316493758   143        נדב      וייסלר    NaN
24  316551415    77       מעין    מושקוביץ    NaN
25  316639350   144      גלינה     ברסטצקי    NaN
26  318031010   144        דוד        שורש    NaN
27  318178126   144     שולמית  ירוחימוביץ    NaN
28  318344751    77        יעל       מורוז    NaN
29  328633292   144      מריון         קרן    NaN
30  666009964   144      ריצרד       שמידט    NaN

In [ ]:
ids = file1['ת.ז']

grades = file1['ציון']
grades = grades[ids>1]

ids = ids[ids>1]

In [63]:
id = ids[3]
id_start = round(id/10)
id_start

IndexError: ignored

In [ ]:
for id in ids:
  print(id)